:root {
  --color-main: #ffffff;
  --color-secondary: #000000;
  --color-additional: #666666;

  --color-card-disabled: #b3b3b3;
  --color-card-link: #1698d9;
  --color-card-slogan: #e62e7a;
  --color-card-disabled: #b3b3b3;
  --color-card-descr-disabled: #ffff66;
}
