@font-face {
  font-family: "Exo 2.0";
  src: local("exo20-thin"), local("exo20Thin"), url("exo20-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet MS";
  src: local("trebuchetms-bold"), local("trebuchetmsBold"), url("trebuchetms-bold-webfont.woff2") format("woff2"),
    url("trebuchetms-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Trebuchet MS";
  src: local("trebuchetms-webfont"), local("trebuchetmsWebfont"), local("trebuchetms-webfont-regular"),
    local("trebuchetmsWebfontRegular"), url("trebuchetms-webfont.woff2") format("woff2"),
    url("trebuchetms-webfont.woff") format("woff");
  font-weight: 400;
}
